#main-content {
  .views {
    text-align: center;
    margin: 0 auto;
  }

  .navbar-fixed .page-content, .navbar-through .page-content {
    padding-top: 0;
  }

  header {
    h1 {
      text-align: center;
      background: #212121;
      color: #f9f2f4;
      padding: 10px 0;
      font-size: 2.3em;
      text-transform: uppercase;
    }
  }

  .content-play {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  #profil {
    padding: 10px;

    .sub-menu {
      ul {
        margin: 10px auto;
        text-align: center;

        li {
          display: inline-block;
          padding: 0 30px;

          a {
            display: inline;
            text-transform: uppercase;
            color: #333333;
            font-size: 1.4em;

            &.actif {
              border-bottom: 2px solid #A52731;
              color: #A52731;
            }
          }
        }
      }
    }

    .content {
      margin-top: 20px;
      padding: 10px;
      background: white;
      box-shadow: 0px 5px 10px 1px #cfcfcf;
    }
  }

  .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    z-index: 99999999999;
    color: #ffffff;
    overflow: scroll;

    .content {
      height: 100%;
      overflow-y: scroll;

      .button-group {
        margin-top: 30px;
      }
    }
  }

  #app-loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    z-index: 99999999999;
    img {
      margin-left: auto;
      margin-right: auto;
      margin-top: 50%;
      width: 220px;
    }
  }

  .page-content{
    position: relative;
    &:after{
      position: absolute;
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-size: cover;
      opacity: 0.75;
      z-index: -1;
    }
    &.bg1{
      &:after{
        background: #000000 url('../img/bg/bg1.png') center center;
      }
    }
    &.bg2{
      &:after{
        background: #000000 url('../img/bg/bg2.jpg') center center;
      }
    }
  }

  #fight {
    .player{
      background:	#444444;
      color:		#fff;
      height:		50px;
      padding:	10px;
      padding-left: 85px;
      position:	relative;
    }
    .player img{
      border-radius:	50%;
      width:			50px;
      height:			50px;
      box-shadow: 	0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      position:		absolute;
      top:			10px;
      left:			15px;
    }
    .player .name{
      font-size:		18px;
      font-weight: 	600;
    }
    .player .deck{
      font-size: 		14px;
      font-weight:	400;
    }
  }
}


