table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  padding: 10px;
}

#main-content {
  header {
    h1 {
      text-align: center;
      background: #212121;
      color: #f9f2f4;
      padding: 10px 0;
      font-size: 2.3em;
      text-transform: uppercase;
    }
  }

  background-color: #B5BABF;
  color: #333333;
  font-family: 'Open Sans', sans-serif;

  #profil {
    padding: 10px;

    .sub-menu {
      ul {
        margin: 10px auto;
        text-align: center;

        li {
          display: inline-block;
          padding: 0 30px;

          a {
            display: inline;
            text-transform: uppercase;
            color: #333333;
            font-size: 1.4em;

            &.actif {
              border-bottom: 2px solid #A52731;
              color: #A52731;
            }
          }
        }
      }
    }

    .content {
      margin-top: 20px;
      padding: 10px;
      background: white;
      box-shadow: 0px 5px 10px 1px #cfcfcf;
    }
  }

  #loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    img {
      margin-left: auto;
      margin-right: auto;
      margin-top: 50%;
      width: 220px;
    }
  }
}


