<div class="overlay" id="choose-cards">
    <div class="header">
        <p class="color-green">Echangez vos cartes <span>(2/2)</span> : </p>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-50">
                <a href="#" class="change-cards" data-id="1"><img src="img/cards/n/N01.png" alt="" width="100%"></a>
            </div>
            <div class="col-50">
                <a href="#" class="change-cards" data-id="2"><img src="img/cards/n/N02.png" alt="" width="100%"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <a href="#" class="change-cards" data-id="3"><img src="img/cards/n/N03.png" alt="" width="100%"></a>
            </div>
            <div class="col-50">
                <a href="#" class="change-cards" data-id="4"><img src="img/cards/n/N04.png" alt="" width="100%"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <a href="#" class="change-cards" data-id="5"><img src="img/cards/n/N05.png" alt="" width="100%"></a>
            </div>
            <div class="col-50">
                <a href="#" class="change-cards" data-id="6"><img src="img/cards/n/N06.png" alt="" width="100%"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <a href="#" class="change-cards" data-id="7"><img src="img/cards/n/N07.png" alt="" width="100%"></a>
            </div>
            <div class="col-50">
                <a href="#" class="change-cards" data-id="8"><img src="img/cards/n/N08.png" alt="" width="100%"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <a href="#" class="change-cards" data-id="9"><img src="img/cards/n/N09.png" alt="" width="100%"></a>
            </div>
            <div class="col-50">
                <a href="#" class="change-cards" data-id="10"><img src="img/cards/n/N10.png" alt="" width="100%"></a>
            </div>
        </div>
    </div>

    <div>
        <a href="#" class="button button-big button-raised button-fill color-green" onclick="fightPage.submitCards();">Valider</a>
    </div>
</div>