<div class="overlay" id="choose-cards">
    <p>Choisir ses cartes de démarage: </p>

    <div class="row">
        <div class="col-50"><img src="img/cards/n/N01.png" alt="" width="100%"></div>
        <div class="col-50"><img src="img/cards/n/N02.png" alt="" width="100%"></div>
    </div>

    <div class="row">
        <div class="col-50"><img src="img/cards/n/N03.png" alt="" width="100%"></div>
        <div class="col-50"><img src="img/cards/n/N04.png" alt="" width="100%"></div>
    </div>

    <div>
        <a href="#" class="button button-big button-raised button-fill color-green" onclick="fightPage.submitCards();">Valider</a>
    </div>
</div>