<div id="profil-info">
    <h2>Vos informations</h2>

    <div class="login">
        <p id="pseudo-c"></p>
        <input type="text" id="pseudo-form" placeholder="Pseudo">
        <button id="btn-pseudo">Valider</button>
    </div>

    <br>

    <div class="app-background">
        <input type="text" id="bg-form" placeholder="Changer son fond">
        <button id="btn-bg">Valider</button>
    </div>

    <button id="take-photo">Prendre une photo</button>
    <button id="choose-photo">Choisir une photo</button>

    <img id="profil-img" src="" alt="" width="300px">
</div>
